{% extends 'base.html' %}

{% block main %}
    <div style="text-align: center; margin-top:40px">
        <h2 >关于我</h2>
    </div>
    <br>
    <p>2021.1.18</p>
    <p>在网站建立好一个多月后的今天，我想写些自己的事情，以便完善这个博客。</p>
    <br>
    <h3>目前的我</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我现在是个大学生，大四退宿在家，正烦恼于能找什么能够摸鱼的实习工作。<del>有没有躺着赚钱的工作啊(</del></p>
    <br>
    <h3>网站的由来</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这个网站是我毕业设计的一部分。虽然当时完全没有接触过python和Linux系统，甚至连github都是第一次使用，但是得益于<strong>追梦人物</strong>大佬的博客教程，小白的我也终于把网站建立出来了。
    网站的名称是苍蓝芥子，还记得这个名称是毕业设计初次答辩的时候，手机短信提醒我的网站名称不够规范，情急之下填上去的。灵感则可能来自洛克人ZERO的片尾曲<em>freesia</em>和乐队the pillows的<em>one life</em>。
    <del>可以的话，我想把苍蓝改成苍兰</del></p>
{% endblock main %}

